@use "./layout/bottom-nav.scss";
@use "./layout/top-nav.scss";
@use "./history/history-item.scss";
@use "./propery/propery-card.scss";
@use "./filter-creation//filter-create-page.scss";
@use "./landing.scss";

html, body, #root {
  font-family: 'Montserrat';
  height: 100%;
  margin: 0;
}

.background {
  background: #545FE7;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-data {
  
  position: relative;
  background: #EDECFA;
  flex: 1;                // 🔥 вот ключ
  border-radius: 60px 60px 0 0;
  // width: 98%;
  overflow-y: auto;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 90px;
}

